@{ Layout = null;}
<a href="https://facebook.com">
    yoo <strong style="text-transform:uppercase;
font-size:3rem">this is the home page</strong>
</a>

<ul>
    <li>saadasda</li>
    <li>saadasda</li>
    <li>saadasda</li>
    <li>saadasda</li>
    <li>saadasda</li>
    <li>saadasda</li>
    <li>saadasda</li>
</ul>
